body {
  background-color: rgb(194, 224, 238);
}

  
}

.divInputs {
  display:flex;
  align-items: block;
  background-color: rgb(81, 164, 216);
  justify-content: center;
}

.divBotones {
  display: flex;
  align-items: block;
  background-color: lightskyblue;
  justify-content: center;
  
}

.divResultados {
  background-color: lightskyblue;
  
}

h2 {
  font-size: 200%;
  text-align: center;
  color: rgb(231, 69, 69);
}

.lista {
  color: rgb(6, 13, 53);
}

#descuento {
  color: rgb(231, 69, 69);
  text-align: center;
  size: 250%;
}



