body {
  background-color: rgb(194, 224, 238);
}

  
}

.encabezado {
  display:flexbox;
  flex-direction: row;
  justify-content: center;
  background-color: lightskyblue;
}

h2 {
  font-size: 250%;
  text-align: center;
  color: tomato;
}

.lista {
  color: rgb(6, 13, 53);
}

.descuento {
  color: rgb(6, 13, 53);
  text-align: center;
  size: 150%;
}

.divBotones {
  display: flex;
  align-items: block;
  background-color: lightskyblue;
  
}

.divResultados {
  background-color: lightskyblue;
  
}



button {
  display: block;
}
