.titulos2{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  font-size: 50%;
  col
}

.parrafos{
  text-align: justify;
  font-family: 'Times New Roman', Times, serif;
}

.fondo{
  background-color: blueviolet;
}